data/
results/
_STARtmp/
*.log
.snakemake/
__pycache__/
*.pyc
.Rhistory
.RData
.Rproj.user/
.vscode/
.DS_Store
java/
.java/
config/config.yaml
**/.java/
?/.java/
scripts/clean_ref_only.sh
scripts/clean_outputs.sh
scripts/run_script.Rrenv/library/
renv/staging/
renv/local/

