pbmc:
  donor1:
    url: "https://cf.10xgenomics.com/samples/cell-exp/3.0.0/pbmc_1k_v3/pbmc_1k_v3_fastqs.tar"
    fastq_dir: "data/raw/donor1/pbmc_1k_v3_fastqs"
  donor2:
    url: "https://cf.10xgenomics.com/samples/cell-exp/3.0.0/pbmc_1k_v3/pbmc_1k_v3_fastqs.tar"
    fastq_dir: "data/raw/donor2/pbmc_1k_v3_fastqs"
resources:
  fastqc_threads: 2
  star_threads: 8
  cutadapt_threads: 4

trim:
  enabled: false
  adapter_r2: "AGATCGGAAGAG"
  q_r2: 20
  minlen_r2: 60

io:
  # set true ONLY if you want Snakemake to download FASTQs.
  # when false, workflow will only validate that fastq_dir exists and contains R1/R2.
  download_fastqs: false

ref:
  genome_fasta: "data/ref/GRCh38.primary_assembly.genome.fa"
  gtf: "data/ref/gencode.v45.annotation.gtf"
  star_index: "data/ref/star_index_gencode_v45_star_2.7.11b"
  whitelist: "resources/barcodes/3M-3pgex-may-2023_TRU.txt"

  genome_fasta_url: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/GRCh38.primary_assembly.genome.fa.gz"
  gtf_url: "https://ftp.ebi.ac.uk/pub/databases/gencode/Gencode_human/release_45/gencode.v45.annotation.gtf.gz"

  build_star_index: false
